* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
}

#flag {
    height: 416.25px;
    width: 900px;
    border-spacing: 0;
    background-color: white;
}

#flag > tbody > tr > th > img {
    width: 99%;
}

#flag > tbody > tr {
    height: 40.5px;
    width: 45px;
}

#flag > tbody > tr > th:first-child{
    width: 45%;
    background-color: rgb(16,85,165);
}

.LRed {
    background-color: red;
}